/*navbarにh1を突っ込むためのスタイル*/
h1.navbar-brand{margin:0 !important;}

/*.form-control{
	padding: 4px 8px;
	max-height: 32px;
}*/

.navbar{border-radius: 0;}

form .list-group-item{
	font-size:0.8em;
	line-height: 0.8em;
	max-height:24px;
	padding: 4px 6px;
}

.del-item{
	font-size:1em !important;
	line-height: 1em !important;
	margin-left:0.5em;
}

.form-group{
	margin-bottom: 8px;
}

.project{
	border-bottom: 1px #BBB solid;
}
.project p{cursor:default;}
.project li{cursor: default;}

.project:nth-child(even){
	background: #eff;
}
.project:nth-child(odd){
	background: #ffe;
}
.project-head{
	margin-left: 18px;
	float:left;
	width: 240px;
}

.rowtimeline{
	position: relative;
}
#monthselector{
	width: 240px;
}
#cvs_timeline{
	/*border: solid 1px;*/
	position: absolute;
	left: 0px;
	float:left;
	width: 100%;
	height: 60px;
}

.task{
	max-width: 120px;
	font-size: 12px;
}
.task ul{
	list-style-type: none;
	padding: 0;
}
.task-list{
	position: relative;
}
.task-assignee{color:#888;}
.task-deadline{color:#888;}

.selectedtask{
	/*box-shadow: 0px 0px 4px 0 #0ef;*/
	border: solid 1px #08d !important;
}

.selectedproject .projectname{
	text-decoration: underline;
}